{#<ul class="accordion">#}

    {#{% for category in categories %}#}
        {#<li>#}
        {#<a href="#target">{{ category.name }}</a>#}
        {#{% if category.sub is defined and category.sub is iterable %}#}
            {#<ul class="sub-menu">#}
            {#{% for subcategory in category.sub %}#}
                {#<li><a href="#target">{{ subcategory.name }}</a></li>#}
                {#{% if subcategory.sub is defined and subcategory.sub is iterable %}#}
                    {#<ul class="sub-menu">#}
                        {#{% for product in subcategory.sub %}#}
                            {#<li><a href="#target">{{ product.name }}</a></li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {#</ul>#}
        {#{% endif %}#}
        {#</li>#}
    {#{% endfor %}#}
{#</ul>#}
<div id="menu" class="btn-group">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
    <div class="dropdown-menu">
        {% for category in categories %}
            <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">{{ category.name }}</a>
                {% if category.sub is defined and category.sub is iterable %}
                <div class="dropdown-menu">
                    {% for subcategory in category.sub %}
                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  data-toggle="dropdown" href="#">{{ subcategory.name }}</a>
                        {% if subcategory.sub is defined and subcategory.sub is iterable %}
                        <div class="dropdown-menu">
                            {% for product in subcategory.sub %}
                            <a class="dropdown-item" href="#">{{ product.name }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>