{% extends 'base.html.twig' %}

{% block title %}Curriculum Vitae{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color scrolling-navbar">
            <a class="navbar-brand" href="#"><strong>KB</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{ render(controller('App\\Controller\\CvController::getCategories')) }}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#cv">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Doświadczenie zawodowe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Wykształcenie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#technology">Technologie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#other">Pozostałe umiejętności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hobby">Zainteresowania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#form">Formularz</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<div id="cv" class="container">
    <h1 class="light-blue-text text-center mb-5 text-uppercase title"><span>C</span>urriculum <span>V</span>itae</h1>
    <section class="row mb-5">
        <address class="col-9">
            <h2>Dane osobowe</h2>
            <ul>
                <li>Kamil Banaszkiewicz</li>
                <li>ul. 650-lecia, 62-700 Turek</li>
                <li>kom: +48 505 939 200</li>
                <li>mail: kamil.banaszkiewicz1989@gmail.com</li>
                <li>bitbucket: <a href="https://bitbucket.org/theripper_0">https://bitbucket.org/theripper_0</a></li>
            </ul>
        </address>
        <div class="col-3">
            <figure class="figure">
                <img src="{{ absolute_url(asset('img/kb.jpg')) }}" class="figure-img img-thumbnail portrait" alt="...">
                <figcaption class="figure-caption text-center">Yep, that's me, I'm a Viking.</figcaption>
            </figure>
        </div>
    </section>
    <section id="experience" class="row mb-5">
        <div class="col">
            <div class="jumbotron jumbotron-fluid blue-gradient text-white bg-dark">
                <div class="container">
                    <h2 class="text-center mb-5 text-uppercase">Doświadczenie zawodowe</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p><span class="font-weight-bold">15.08.2018 r. –</span></p></div>
                <div class="col-7">
                    <p>
                        <span class="font-weight-bold">
                            Backend Developer w firmie Future Mind Capital LTD – samozatrudnienie;
                        </span>
                    </p>
                    <ul>
                        <li class="text-left">Rozwój i optymalizacja istniejącego projektu giełdy krypto walut https://bitclude.com</li>
                        <li class="text-left">Przenosiny projektu do frameworka symfony 4</li>
                        <li class="text-left">Praca z zewnętrznymi API, np: 2fa authentication by google, Bitgo.com API, Gateway sms API</li>
                        <li class="text-left">Praca z REST API</li>
                        <li class="text-left">Pokrywanie testami jednostkowymi kluczowych funkcjonalności</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p><span class="font-weight-bold">07.08.2017 r. – 15.05.2018</span></p></div>
                <div class="col-7">
                    <p>
                        <span class="font-weight-bold">
                            Backend Developer w firmie Cogitech Group sp. z o.o;
                        </span>
                    </p>
                    <ul>
                        <li class="text-left">Projektowanie, tworzenie/ modelowanie Relacyjnych Baz Danych (MySQL)</li>
                        <li class="text-left">Projektowanie, tworzenie i rozwój aplikacji webowych (Symfony3, REST API)</li>
                        <li class="text-left">Tworzenie modułów CMS</li>
                        <li class="text-left">Praca zespołowa w oparciu o metodyki zwinne.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p><span class="font-weight-bold">10.01.2014 r. – 30.11.2015 r. </span></p></div>
                <div class="col-7">
                    <p>
                        <span class="font-weight-bold">
                            Webmaster/programista w firmie People Care sp. z o.o. (grupa kapitałowa Work Service);
                        </span>
                    </p>
                    <ul>
                        <li class="text-left">Obsługa techniczna strony babyandcare.pl, dobraniania.pl, peoplecare.pl</li>
                        <li class="text-left">prace nad rozwojem w/w stron, implementacja nowych modułów</li>
                        <li class="text-left">nadzór nad tworzonymi projektami stron www</li>
                        <li class="text-left">współpraca z firmami zewnętrznymi w zakresie prowadzonych projektów</li>
                        <li class="text-left">współtworzenie koncepcji w zakresie funkcjonalności dla powstających serwisów</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="row mb-5">
        <div class="col">
            <div id="education" class="jumbotron jumbotron-fluid blue-gradient text-white bg-dark">
                <div class="container">
                    <h2 class="text-center mb-5 text-uppercase">Edukacja</h2>
                </div>
            </div>
            <div class="row">
                <div class="col"><p><span class="font-weight-bold">2010 r. – 2013 r.</span></p></div>
                <div class="col">
                    <p>
                        Prawo; WPiA UAM (niestacjonarne),
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col"><p><span class="font-weight-bold">2008 r. – 2009 r.</span></p></div>
                <div class="col">
                    <p>
                        Centrum Szkoleniowe Wiedza w Turku;  Liceum Ogólnokształcące,
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col"><p><span class="font-weight-bold">2004 r. – 2007 r.</span></p></div>
                <div class="col">
                    <p>
                        ZSR CKP w Kaczkach Średnich; Technikum Samochodowe.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="technology" class="row mb-5">
        <div class="col">
            <div class="jumbotron jumbotron-fluid blue-gradient text-white bg-dark">
                <div class="container">
                    <h2 class="text-center mb-5 text-uppercase">Znajomość technologii i oprogramowania </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Mocna dobra znajomość <span class="font-weight-bold">PHP</span></p></div>
                <div class="col-7">
                    <p>
                        większość technik php7, OOP, niektóre wzorce, podstawy testów jednostkowych ‐ phpunit i funkcjonalnych – behat,
                        dobra znajomość usług sieciowych REST, podstawy SOAP, praca z xdebug, composer
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Mocna dobra znajomość frameworka <span class="font-weight-bold">Symfony 2/3 i Symfony 4</span></p></div>
                <div class="col-7">
                    <p>
                        w tym między innymi Doctrine ORM, TWIG, FOSRestBundle, ApiPlatform (Oparty całkowicie na symfony i wzorcu ADR),
                        JMS Serializer, Symfony Serializer, KnpSnappy i większości przydatnych Bundli.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Mocna podstawowa znajomość <span class="font-weight-bold">JavaScript / Typescript</span></p></div>
                <div class="col-7">
                    <p>
                        w tym dobra znajomość biblioteki jQuery, podstawy AngularJS i  Angular 6 (własny projekt do wglądu), znajomość npm.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Mocna dobra znajomość <span class="font-weight-bold">MySQL</span></p></div>
                <div class="col-7">
                    <p>
                        modelowanie UML, praca z MySql Workbench
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Dobra znajomość <span class="font-weight-bold">HTML</span></p></div>
                <div class="col-7">
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Dobra znajomość <span class="font-weight-bold">CSS3</span></p></div>
                <div class="col-7">
                    <p>
                        w tym podstawy scss
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Mocna podstawowa znajomość <span class="font-weight-bold">GIT</span></p></div>
                <div class="col-7">
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Dobra znajomość frameworka <span class="font-weight-bold">Bootstrap 3/4</span> i jego komponentów.</p></div>
                <div class="col-7">
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Podstawowa znajomość CMS <span class="font-weight-bold">PrestaShop</span></p></div>
                <div class="col-7">
                    <p>
                        tworzyłem moduły cms
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Umiejętność pracy z użyciem <span class="font-weight-bold">Vagranta i Dockera</span></p></div>
                <div class="col-7">
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Mocna podstawowa znajomość środowiska  <span class="font-weight-bold">Linux</span></p></div>
                <div class="col-7">
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5"><p>Dobra znajomość IDE: <span class="font-weight-bold">PhpStorm</span></p></div>
                <div class="col-7">
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Więcej informacji nt. posiadanych umiejętności w wyżej wymienionym zakresie można uzyskać na mojej stronie:
                    <a href="http://kamilbanaszkiewicz.pl/skillsy">http://kamilbanaszkiewicz.pl/skillsy</a>
                </div>
            </div>
        </div>
    </section>
    <section id="other" class="row mb-5">
        <div class="col">
            <div class="jumbotron jumbotron-fluid blue-gradient text-white bg-dark">
                <div class="container">
                    <h2 class="text-center mb-5 text-uppercase">Pozostałe umiejętności</h2>
                </div>
            </div>
            <p>
                Komunikatywny, solidny, uczciwy, zaradny, zdyscyplinowany, samodzielny, odpowiedzialny,
                kreatywny i ponad wszystko ambitny.
            </p>
        </div>
    </section>
    <section class="row mb-5">
        <div id="hobby" class="col">
            <div class="jumbotron jumbotron-fluid blue-gradient text-white bg-dark">
                <div class="container">
                    <h2 class="text-center mb-5 text-uppercase">Zainteresowania</h2>
                </div>
            </div>
            <p>
                Motoryzacja  (pracuje  po  godzinach  nad  własnym  projektem  portalu  społecznościowego  i ogłoszeniowego),
                telefonia  komórkowa,  technologie  informatyczne,  sprzęt  audio  i  video/RTV, nowinki technologiczne,
                kinematografia, akwarystyka, gaming.
            </p>
        </div>
    </section>
    <section id="form" action="" class="row mb-5 justify-content-md-center">
        <div class="col-md-7 jumbotron jumbotron-fluid">
            <form class="ml-3 mr-3 mt-2 mb-4" method="POST">
                <div class="jumbotron jumbotron-fluid blue-gradient text-white bg-dark">
                    <div class="container">
                        <h2 class="text-center text-uppercase">Personal form</h2>
                    </div>
                </div>
                <div class="md-form">
                    <label>Name</label>
                    <input class="form-control" type="text" id="name" name="name" value="">
                </div>
                <div class="md-form">
                    <label>Surname</label>
                    <input class="form-control" type="text" id="surname" name="surname" value="">
                </div>
                <div class="md-form">
                    <label>Age</label>
                    <input class="form-control" type="number" id="age" name="age" value="">
                </div>
                {#<div class="md-form">#}
                    {#<label>Gender</label>#}
                    {#<input class="form-control" type="text" id="gender" name="gender" value="">#}
                {#</div>#}
                <div id="gender" class="form-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="1">
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="0">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="accept" id="accept">
                    <label class="custom-control-label" for="accept">Accept processing of personal data</label>
                </div>
                <div class="md-form text-center">
                    <button type="submit" class="btn btn-outline-primary waves-effect">Submit</button>
                </div>
            </form>
        </div>
    </section>
    <footer class="page-footer font-small text-black-50">
        <p>Wyrażam zgodę na przetwarzanie moich danych osobowych w dokumencie CV zarówno na potrzeby prowadzonej rekrutacji
            jak również po jej zakończeniu. Jednocześnie wyrażam zgodę na pozostawienie przekazanego dokumentu CV przez pracodawcę
            oraz przetwarzania moich danych osobowych  w  celu  tworzenia  i  prowadzenia  elektronicznej  bazy  danych
            co  umożliwi  wykorzystanie  moich  danych  osobowych  w  kolejnych procesach rekrutacyjnych zgodnie
            z ustawą o ochronie danych osobowych z dnia 29 sierpnia 1997 r. ( Dz. U z 2002 nr 101,poz. 926) .
        </p>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white-50 blue-gradient">© 2018 Copyright: Kamil Banaszkiewicz</div>
        <!-- Copyright -->

    </footer>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}