{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Stranger! ✅</h1>
    <p>Result comparison of arrays is:
        {% if result is same as(1) %}
            Odds value is greater than value of Evens
        {% elseif result is same as(-1) %}
            Evens value is greater than value of Odds
        {% else %}
           Oops Zonk :(, {{ result }}
        {% endif %}</p>
</div>
{% endblock %}
