* {
    box-sizing: border-box;
}
body {
    background-color: #dbdbdb;
}

.portrait {
    float: right;
    width: 200px;
    clear: both;
}

#cv {
    width: 964px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 2em 4em;
    overflow: hidden;
    .jumbotron {
        padding: 1.5rem 1rem !important;
    }
    .title {
        font-size: 3.5em;
        font-weight: 400;
        text-transform: capitalize;
        span {
            font-size: 1.2em;
            color: rgba(55, 99, 226, 0.95)
        }
    }
}

.form-error {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.custom-control {
    color: #757575
}

.custom-control span {
    position: relative;
    top:45px;
    left: -25px
}

#cv {
    li {
        list-style-type: none;
        text-indent: -2em;
    }
    section .row {
        padding: 0 15px;
    }
}

#form {
    .form-inline .form-check-input {
        margin-right: 0.50rem;
    }
    .form-inline .form-check {
        margin-right: 30px;

    }
    .custom-control {
        margin-top: 20px;
    }
}

#menu {
    margin-right: 2%;
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.morpheus-den-gradient {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu .dropdown-menu {
    top:0;
    left:100%;
}
